@font-face {
    font-family: isw;
    font-style: normal;
    font-weight: normal;
    src: url('assets/fonts/isw/isw.woff');
    font-display: swap;
}

body{
    font-family: isw;
}

.date-picker-container{
    display: none;
    opacity: 0;
    box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 500px;
    border-radius: 20px;
    padding: 0px 5px 20px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
   
}
.date-picker-container.active{
    -webkit-animation:animate-date-picker-active .3s ease-in-out forwards; /* Chrome 16+, Safari 4+ */
    -moz-animation: animate-date-picker-active .3s ease-in-out forwards;    /* FF 5+ */
    -o-animation: animate-date-picker-active .3s ease-in-out forwards;      /* Not implemented yet */
    -ms-animation:animate-date-picker-active .3s ease-in-out forwards;     /* IE 10+ */
    animation: animate-date-picker-active .3s ease-in-out forwards ;
    display: block;
}
@keyframes animate-date-picker-active{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.date-picker-header-command{
    border-bottom: 1px solid rgb(234, 234, 234);
    padding: 15px 10px;
    font-size: 15px;
}
.date-picker-header-command :is(span, i){
    color: royalblue;
    font-weight: 500;
    cursor: pointer;
}
.date-picker-header-command .icon-close{
    color: #2b2a2a;
    margin-left: 10px;
    font-size: 18px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.date-picker-header-month{
    color: #2b2a2a;
    padding: 10px 10px 0;
}
#monthHeaderTitle{
    font-size: 17px;
}
.date-picker-header-month .icon{
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    transition: all .1s ease-in;
    border-radius: 50%;
    padding: 3px;
}
.date-picker-header-month .icon:hover{
   background-color: rgba(105, 105, 105, 0.1);
}
.date-picker-back{
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}
.date-picker-content{
    padding: 10px 0;
    width: 100%;
}
.date-picker-content th{
    color: #959EA6;
    font-size: 14px;
    font-weight: 500;
}
.date-picker-content tr{
    display: flex;
    width: 90%;
    margin: 0 auto;
    user-select: none;
}
.date-picker-content th, .date-picker-content td{
  flex: 1;
  text-align: center;
  padding: 7px 0px;
  margin: 2px 2px;
  border: 1px solid transparent;
}
.date-picker-content td[date]{
    border: 1px solid rgb(234, 234, 234);
    border-radius: 10px;
    cursor: pointer;
    color: #4B5259;
    line-height: 19px;
    font-size: 14.5px;
    font-weight: 500;
    position: relative;
}
.date-picker-content td[data-title]:hover::before{
    content: attr(data-title);
    display: block;
    position: absolute;
    top: -32px;
    color: #fff;
    background-color: #959EA6;
    border-radius: 5px;
    padding: 5px;
    font-size: 12.5px;
    white-space: nowrap;
    z-index: 9999;
}

.date-picker-content td[date] p{
    margin: 0;
    font-size: 12px;
    color: #959EA6;
}
.date-picker-content td.active{
    border: 0;
    background-color: royalblue;
    color: #fff;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 255, 0.1);
}
.date-picker-content td.today{
    border: 1px solid royalblue;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 255, 0.1);
}
.date-picker-content td.active p{
    color: #eeeaea;
}
.date-picker-container .disabled{
    pointer-events: none;
    opacity: .5;
}
.date-picker-footer{
    width: '100%';
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.selectedDate{
    color: #959EA6;
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 4px;
}
.btn{
    border: 0;
    border-radius: 6px;
    background-color: royalblue;
    color: #fff;
    padding: 4px 25px;
    font-family: IRANSans;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .date-picker-container{
        width: 100%;
        height: 100vh;
        padding: 5px 0px;
        margin: 0;
        top: 0;
        left: 0;
        transform: none;
        overflow-x: hidden;
        border-radius: 0;
    }
    .date-picker-header-month{
        padding: 5px 5px;
    }
    .date-picker-header-command{
        padding: 10px;
    }
}