@font-face {
    font-family: isw;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/isw/isw.woff');
    font-display: swap;
}

body{
    font-family: isw;
}

.date-picker-container{
    display: none;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 500px;
    border-radius: 10px;
    padding: 0px 5px 20px;
    margin: 0 auto;
    position: absolute;
}
.date-picker-container.active{
    display: block;
}
.date-picker-header-command{
    border-bottom: 1px solid rgb(234, 234, 234);
    padding: 10px 5px;
}
.date-picker-header-command :is(span, i){
    color: royalblue;
    font-weight: 600;
    cursor: pointer;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.date-picker-header-month{
    color: #2b2a2a;
    padding: 10px 10px 0;
}
.date-picker-header-month .icon{
    font-size: 25px;
    cursor: pointer;
}
.date-picker-content{
    border-radius: 5px;
    padding: 10px 0;
    width: 100%;
}
.date-picker-content th{
    color: #959EA6;
    font-size: 14px;
}
.date-picker-content tr{
    display: flex;
    width: 90%;
    margin: 0 auto;
    user-select: none;
}
.date-picker-content th, .date-picker-content td{
  flex: 1;
  text-align: center;
  padding: 7px 0px;
  margin: 2px 2px;
}
.date-picker-content td[date]{
    border: 1px solid rgb(234, 234, 234);
    border-radius: 6px;
    cursor: pointer;
    color: #4B5259;
    line-height: 19px;
    font-size: 14.5px;
    font-weight: 500;
}
.date-picker-content td[date] p{
    margin: 0;
    font-size: 12px;
    color: #959EA6;
}
.date-picker-content td.active{
    border: 0;
    background-color: royalblue;
    color: #fff;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 255, 0.1);
}
.date-picker-content td.active p{
    color: #eeeaea;
}
.date-picker-content td.disabled{
    pointer-events: none;
    opacity: .4;
}
.date-picker-footer{
    width: '100%';
    display: flex;
    justify-content: flex-end;
    padding-left: 10px;
}
.btn{
    border: 0;
    border-radius: 6px;
    background-color: royalblue;
    color: #fff;
    padding: 2px 20px;
    font-family: isw;
    font-size: 16px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .date-picker-container{
        width: 100%;
        height: 100vh;
        padding: 5px 0px;
        margin: 0;
        top: 0;
        z-index: 999;
        overflow: hidden;
    }
}